<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
  <connectionStrings>
    <add name="Test"
    connectionString="Data Source=DESKTOP-B90JPG0\AVISHKADB;Initial Catalog=TaxiDriverSystem;User ID=sa;Password=abc123"/>
  </connectionStrings>
</configuration>